body {
  margin:0;
  background-color: #2196f3ab;
}

.content {
  box-sizing:border-box;
  background-color: #05386B;
  left:50%;
  padding:10vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
}

h1 {
  font-family:monospace;
}


body
      {
        font-family: 'Faster One', cursive;
        font-family: 'Gurajada', serif;

        font-size: 1.5em;
      }

    .wrapper
    {
      display: grid;
      grid-template-columns: 0.5fr 3fr 1fr 0.5fr;
      grid-auto-rows: minmax(100px,auto);
      grid-gap: 1em;
/*      column wise:
*/      justify-items: stretch;
/*      row wise
*/      align-items: stretch;
    }

    .wrapper-2
    {
      display: grid;
      grid-template-columns: 0.5fr 3fr 1fr 0.5fr;
      grid-auto-rows: minmax(100px,auto);
      grid-gap: 1em;
/*      column wise:
*/      justify-items: stretch;
/*      row wise
*/      align-items: stretch;
    }

    .box-2
    {
      align-self: center;
      padding: 3em;
    }

    .inside-box-2
    {
      display: flex;
      grid-column-gap: 1em;
    }

    .inside-box-2 .card
    {
      background-color: #212121e8;
      color: white;
      border-radius:10px;
    }

    .box2
    {
      padding-left: 2.5em;
      align-self: center;
    }

    .box3
    {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1em;
      align-items: stretch;
      align-self: center;
    }

    .inside-box3
    {
      display: flex;
      justify-content: flex-end;

    }