<div class="row">
    <div class="col">
        <div class="card card-body">
            <form method="get">
                {{myFilter.form}}
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
    </div>
</div>
{% for course in courses %}
    <li>{{course.Subject_name}}</li>
    <a class="btn btn-primary" href="{% url 'add_course' pk=course.pk pk2=student.pk %}">Add</a>
{% endfor %}

<a class="btn btn-primary" href="{% url 'wishlist' pk=student.pk %}">Wishlist</a>
