<!DOCTYPE html>
{% load static %}
<html lang="en">
    <meta charset="UTF-8">
    <title>Add Course</title>
	<link rel="stylesheet" href="{%  static  'css/css_courseform.css'  %}">

<body>
{% load crispy_forms_tags %}

<div class="container">
  <form id="contact" action="" method="POST">
	  {% csrf_token %}
    <h3>Add Course</h3>
	<div>
      {{form.taught_by|as_crispy_field}}
	</div>
    <div>
      {{form.Subject_name|as_crispy_field}}
    </div>
	  <div class="inline1">
		  {{form.Course_fee|as_crispy_field}}
	  </div>
    <div class="inline2">
		{{form.tag|as_crispy_field}}
    </div>
	  <div>
      {{form.Duration|as_crispy_field}}
    </div>
    <div>
      {{form.Class_link|as_crispy_field}}
    </div>

    <div>
		{{form.Description|as_crispy_field}}
    </div>
    <div>
      <button name="submit" type="submit" id="contact-submit" value="Submit">Submit</button>
    </div>
  </form>
</div>



</body>
</html>